body, html {
	font-family: 'Oswald', sans-serif;
	margin: 0;
	font-size: 16px;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("img/banner-html5.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}
li {
	float: left;
}
li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: #111;
}
